.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: rgb(240, 168, 168);
    color: black;
}
.header__leftIcon{
    color: black !important;
    font-size: 30px !important;
    margin-left: 10px ;
}